# vim:set expandtab shiftwidth=4 filetype=gitignore:
# SPDX-License-Identifier: Apache-2.0

#
#
# ~folke/lazy.nvim.git
# └─> ~chewygumxx/lazy.nvim.git
# ::: :/.gitignore
#
#

*.log
/.repro
/.tests
/build
/debug
/doc/tags
foo.*
node_modules
tt.*
